EVERY_ORG_LOGIN=[YOUR LOGIN EMAIL]
EVERY_ORG_PASSWORD=[YOUR PASSWORD]
EVERY_ORG_PROJECT=givingmultiplier
ENV=development
UPLOAD_ENDPOINT=https://localhost:3000/sync
ADMIN_API_KEY=[YOUR ADMIN API KEY]
